body{
	background-color: #607D8B;
	color: #ffffff;
}

h1{
	text-align: center;
}

.div1, .div2{
	border: 2px solid;
	margin-bottom: 2px;
	margin-top: 20px;
}

.div1{
	background-color: #E91E63;
	border-color: #FCE4EC;
}

.div2{
	background-color: #9C27B0;
	border-color: #F3E5F5;
}