label{
	display: block;
} 

input{
	display: block;
	margin-bottom: 10px;
}

form{
	border: 2px groove;
	display: inline-block;
}

button[type=submit]{
	border: 2px solid #4caf50;
	background-color: #4caf50;
	padding: 10px 20px;
	border-radius: 15px;
	color: #ffffff;
}

button:hover[type=submit]{
	background-color: #175b16;
	color: #ffffff;
	box-shadow: 10px 10px 10px #888888;
}

button[type=reset]{
	border: 2px solid #ff0000;
	background-color: #ff0000;
	padding: 10px 20px;
	border-radius: 15px;
	color: #ffffff;
}

button:hover[type=reset]{
	background-color: #8f0000;
	color: #ffffff;
    box-shadow: 10px 10px 10px #888888;
}

ul{
	list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
}