header,
footer{
	position: fixed;
	width: 100%;
	overflow: hidden;
}

header{
	top: 0px;
}

header > nav > ul{
	margin-top: 0px;
}

footer{
	bottom: 0px;
}

footer > nav > ul{
	margin-bottom: 0px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
    font-size: 20px;
    margin: 15px 10px;
}

nav{
	background-color: #071a2b;
}

a{
	text-decoration: none;
	color: #ffffff;
}

img{
	display: inline-block;
	float: left;
	margin-top: 120px;
	margin-left: 250px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

div.a, div.b{
	text-align: center;
	height: 200px;
    width: 45%;
    margin-left: 32px;
    margin-right: 32px;
}

div.a{
	display: inline-block;
	margin-top: 120px;
	margin-bottom: 120px;
	margin-left: 255px;
	background-color: #7591ab;
}

div.b{
	display: inline-block;
	margin-bottom: 120px;
	background-color: #28e2a7;
}